body {
	margin: 0;
	background: red;
	width: 300px;
}

.search {
	background: orange;
	width: 100%;
	border: none;
	margin: 0;
	font-size: 3em;
	outline: 0;
	padding: 10px;
	box-sizing: border-box;
}

.bookmarks {
	a {
		text-decoration: none;
		color: black; 
		box-sizing: border-box;
		padding: 20px;
		display: block;
		white-space:nowrap;

		&:focus, &:hover {
			background: yellow;
			outline: 0;
		}
	}
}