@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/James\/Dropbox\/Code\/By\%20Heart\/app\/styles\/main\.scss}line{font-family:\000031}}
body {
  margin: 0;
  background: red;
  width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/James\/Dropbox\/Code\/By\%20Heart\/app\/styles\/main\.scss}line{font-family:\000037}}
.search {
  background: orange;
  width: 100%;
  border: none;
  margin: 0;
  font-size: 3em;
  outline: 0;
  padding: 10px;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/James\/Dropbox\/Code\/By\%20Heart\/app\/styles\/main\.scss}line{font-family:\0000319}}
.bookmarks a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  padding: 20px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/James\/Dropbox\/Code\/By\%20Heart\/app\/styles\/main\.scss}line{font-family:\0000326}}
.bookmarks a:hover {
  background: yellow;
}
